@font-face {
  font-family: 'Graphik LCG Regular';
  src: local("../fonts/Graphik LCG Regular"), local("../fonts/Graphik-LCG-Regular"), url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.woff") format("woff"), url("../fonts/GraphikLCG-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG Regular Italic';
  src: local("../fonts/Graphik LCG Regular Italic"), local("../fonts/Graphik-LCG-Regular-Italic"), url("../fonts/GraphikLCG-RegularItalic.woff2") format("woff2"), url("../fonts/GraphikLCG-RegularItalic.woff") format("woff"), url("../fonts/GraphikLCG-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik LCG Medium';
  src: local("../fonts/Graphik LCG Medium"), local("../fonts/Graphik-LCG-Medium"), url("../fonts/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG-Medium.woff") format("woff"), url("../fonts/GraphikLCG-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG Medium Italic';
  src: local("../fonts/Graphik LCG Medium Italic"), local("../fonts/Graphik-LCG-Medium-Italic"), url("../fonts/GraphikLCG-MediumItalic.woff2") format("woff2"), url("../fonts/GraphikLCG-MediumItalic.woff") format("woff"), url("../fonts/GraphikLCG-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik LCG Semibold';
  src: local("../fonts/Graphik LCG Semibold"), local("../fonts/Graphik-LCG-Semibold"), url("../fonts/GraphikLCG-Semibold.woff2") format("woff2"), url("../fonts/GraphikLCG-Semibold.woff") format("woff"), url("../fonts/GraphikLCG-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG Bold';
  src: local("../fonts/Graphik LCG Bold"), local("Graphik-LCG-Bold"), url("../fonts/GraphikLCG-Bold.woff2") format("woff2"), url("../fonts/GraphikLCG-Bold.woff") format("woff"), url("../fonts/GraphikLCG-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 991px) {
  .header__logo img {
    max-width: 250px !important;
  }
  .footer__logo {
    max-width: 250px !important;
  }
  .header__mark::before {
    width: 25px !important;
    height: 25px !important;
    top: 8px !important;
    left: 6px !important;
  }
  .header__mark {
    border: 4px solid #000 !important;
    width: 45px !important;
    height: 45px !important;
    top: 9px !important;
  }
  .raffle__title {
    font-size: 60px !important;
    text-align: center;
  }
  .raffle__text.lg {
    font-size: 30px !important;
    text-align: center;
  }
  .raffle__text {
    font-size: 30px !important;
    text-align: center;
  }
  .raffle__texts {
    font-size: 30px !important;
    text-align: center;
  }
  .raffle__content-text-title {
    font-size: 60px !important;
  }
  .raffle__content-text-subtitle {
    font-size: 30px !important;
  }
}

@media (max-width: 500px) {
  .offcanvas-collapse.open {
    width: auto !important;
  }
}

@media (max-width: 575px) {
  .header__ticket {
    display: none !important;
  }
  .header__credit {
    display: none !important;
  }
  .raffle {
    margin-top: 60px !important;
    width: 100%;
  }
  .raffle__title {
    font-size: 45px !important;
  }
  .raffle__text.lg {
    font-size: 25px !important;
  }
  .raffle__text {
    font-size: 25px !important;
  }
  .raffle__texts {
    font-size: 25px !important;
    text-align: center;
  }
  .raffle__slider {
    margin: 0 !important;
  }
  .raffle__button {
    top: -55px !important;
    font-size: 25px !important;
    padding: 9px 40px !important;
    line-height: 45px !important;
  }
  .raffle__content-text-title {
    font-size: 45px !important;
  }
  .raffle__content-text-subtitle {
    font-size: 30px !important;
  }
  .raffle__bg {
    margin-top: 60px !important;
  }
  .slider__title {
    font-size: 40px !important;
  }
  .slider__item {
    height: 230px !important;
  }
  .slider__coupon {
    font-size: 25px !important;
  }
}

@media (max-width: 450px) {
  .raffle__title {
    font-size: 35px !important;
  }
  .raffle__text.lg {
    font-size: 20px !important;
    line-height: 35px !important;
  }
  .raffle__text {
    font-size: 20px !important;
    line-height: 35px !important;
  }
  .raffle__texts {
    font-size: 20px !important;
    line-height: 35px !important;
  }
  .raffle__button {
    font-size: 20px !important;
    padding: 9px 35px !important;
    line-height: 35px !important;
  }
  __text.lg {
    font-size: 30px !important;
    text-align: center;
  }
  .header__logo img {
    max-width: 160px !important;
  }
  .header__mark {
    top: 0 !important;
    margin-left: 5px !important;
  }
  .slider__title {
    font-size: 25px !important;
  }
  .slider__item {
    height: 200px !important;
  }
  .slider__coupon {
    font-size: 18px !important;
  }
  .slider__id {
    font-size: 18px !important;
    line-height: normal !important;
  }
}

body {
  font-family: 'Graphik LCG Regular';
  color: #000;
}

.header {
  margin-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  max-width: 268px;
  width: 100%;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mark {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 8px solid #000;
  position: relative;
  margin-left: 15px;
  position: relative;
  top: 3px;
}

.header__mark::before {
  content: '';
  background: url(../img/icons/down-arrow.svg) no-repeat;
  position: absolute;
  height: 35px;
  width: 35px;
  top: 10px;
  left: 7px;
  display: block;
  background-size: contain;
}

.header__menu-hamburger {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 20px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.header__menu-hamburger:hover {
  opacity: 1;
}

.header__menu-hamburger:before {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 40px;
  width: 3px;
  background-color: #333;
}

.header__menu-hamburger:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 40px;
  width: 3px;
  background-color: #333;
}

.header__menu-hamburger:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header__menu-hamburger:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Graphik LCG Bold';
  font-size: 29px;
}

.header__ticket {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__ticket::after {
  content: '';
  background: url(../img/icons/noun_Ticket_3121918.svg) no-repeat;
  display: block;
  width: 31px;
  height: 31px;
  background-size: contain;
}

/* owl slide css*/
.owl-carousel.owl-drag .owl-item {
  border-radius: 30px !important;
}

.owl-carousel .owl-stage {
  margin: 80px 0;
}

.owl-item.active.center {
  margin: -60px 0;
  -webkit-box-shadow: 0px 9px 28px 0px #828282;
  box-shadow: 0px 9px 28px 0px #828282;
}

.owl-carousel .owl-item {
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.menuToggle {
  cursor: pointer;
  margin-left: 40px;
}

.menuToggle span {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
}

ul.menu-list a {
  color: #000;
  text-decoration: none;
}

ul.menu-list a:hover {
  color: #383838;
}

.raffle {
  margin-top: 190px;
}

.raffle__bg {
  margin-top: 190px;
  background: #f6dc20;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #f6dc20), color-stop(83%, #54f1ec));
  background: linear-gradient(90deg, #f6dc20 30%, #54f1ec 83%);
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.44);
  min-height: 575px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.raffle__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.raffle__content-wrap {
  padding-left: 50px;
}

.raffle__title {
  color: #000;
  font-family: 'Graphik LCG Medium';
  font-size: 52px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.raffle__title.bold {
  font-family: 'Graphik LCG Bold';
  font-size: 44px;
}

.raffle__title.bold-sm {
  font-family: 'Graphik LCG Bold';
  font-size: 44px;
}

.raffle__bold-semi {
  font-family: 'Graphik LCG Semibold';
  font-size: 72px;
}

.raffle__text {
  padding-top: 15px;
  font-family: 'Graphik LCG Medium';
  max-width: 950px;
  text-align: center;
  color: #000000;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.41px;
  line-height: 52px;
}

.raffle__text.lg {
  font-family: 'Graphik LCG Medium';
  font-size: 28px;
  padding-top: 15px;
  max-width: 950px;
}

.raffle__texts {
  font-family: 'Graphik LCG Medium';
  text-align: center;
  color: #000000;
  font-size: 28px;
  max-width: 950px;
  font-weight: 500;
  letter-spacing: -0.41px;
  line-height: 52px;
  padding-top: 15px;
}

.raffle__text span {
  font-family: 'Graphik LCG Bold';
}

.raffle__button {
  font-family: 'Graphik LCG Medium';
  font-weight: bold;
  position: relative;
  top: -100px;
  font-size: 25px;
  border: 0;
  border-radius: 38px;
  line-height: 60px;
  padding: 9px 60px;
  background: #f2bc30;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2bc30), to(#fe8932));
  background: linear-gradient(90deg, #f2bc30 50%, #fe8932 100%);
  z-index: 999;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.raffle__button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-box-shadow: 0px 9px 28px 0px #828282;
  box-shadow: 0px 9px 28px 0px #828282;
}

.raffle__slider {
  width: 100%;
  margin: 50px 0;
}

.raffle__inner-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.raffle__content-text-title {
  font-family: 'Graphik LCG Bold';
  font-size: 56px;
}

.raffle__content-text-subtitle {
  font-family: 'Graphik LCG Medium';
  font-size: 28px;
}

.slider__item {
  border-radius: 30px;
  padding: 10px 25px;
  height: 270px;
}

.slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.slider__title {
  font-family: 'Graphik LCG Medium';
  font-size: 34px;
}

.slider__id {
  font-family: 'Graphik LCG Regular Italic';
  font-size: 16px;
  line-height: 0px;
}

.slider__coupon {
  font-size: 18.5px;
}

.slider__item.color-1 {
  background: #ea3346;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ea3346), to(#af4188));
  background: linear-gradient(90deg, #ea3346 50%, #af4188 100%);
}

.slider__item.color-2 {
  background: #98d8f7;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #98d8f7), to(#aaf8f8));
  background: linear-gradient(90deg, #98d8f7 50%, #aaf8f8 100%);
}

.slider__item.color-3 {
  background: #f6c780;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f6c780), to(#f7c478));
  background: linear-gradient(90deg, #f6c780 50%, #f7c478 100%);
}

.slider__item.color-4 {
  background: #28d9ac;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #28d9ac), to(#0a76c2));
  background: linear-gradient(90deg, #28d9ac 50%, #0a76c2 100%);
}

.slider__item.color-5 {
  background: #ff7d8d;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ff7d8d), to(#ff473b));
  background: linear-gradient(90deg, #ff7d8d 50%, #ff473b 100%);
}

.slider__item.color-6 {
  background: #20f6e5;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #20f6e5), color-stop(83%, #8b54f1));
  background: linear-gradient(90deg, #20f6e5 30%, #8b54f1 83%);
}

.slider__item.color-7 {
  background: #f6f420;
  background: -webkit-gradient(linear, left top, right top, color-stop(32%, #f6f420), color-stop(71%, #54b1f1));
  background: linear-gradient(90deg, #f6f420 32%, #54b1f1 71%);
}

.footer {
  margin-top: 200px;
}

.footer__logo img {
  max-width: 430px;
  width: 100%;
  opacity: 0.4;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.offcanvas-collapse {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  background-clip: padding-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  width: 220px;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: visible;
  background-color: #fff;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: left, visibility;
  transition-property: left, visibility;
  z-index: 99999;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  overflow-x: hidden;
  margin-left: -1rem;
  -webkit-transform: translateX(-320px);
  transform: translateX(-320px);
  width: 0;
  left: 0 !important;
  background-color: #f3f5f7;
}

.offcanvas-collapse li {
  cursor: pointer;
  font-family: 'Graphik LCG Bold';
  padding-bottom: 35px;
  color: #000;
  list-style: none;
  font-size: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
}

.offcanvas-collapse.open {
  overflow: hidden;
  visibility: visible;
  width: 500px;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.offcanvas-collapse .main_menu ul li {
  margin-bottom: 20px;
}

.offcanvas-collapse .main_menu li {
  display: block;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}

html:before {
  content: '';
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

html.overlay::before {
  visibility: visible;
  opacity: .44;
}

body.overflow {
  overflow-x: hidden;
  overflow-y: hidden;
}
/*# sourceMappingURL=style.css.map */