.containerLast{
  background: grey;
  padding: 0 5%;
}
.mrgtop{
  margin-top: 30px;
}
.mrgr{
  margin-right: 30px;
}
.title_table td:first-child{
  padding-right: 90px;
}
.title_table img{
  margin-right: 20px;
}
.black{
      background: #303030;
  }
.color{
      background: #AB7F5C;
  }
.dots{
  height: 10px;
width: 10px;
border-radius: 50%;
margin: 5px 5px;
}
.pic{
  width:30%;
}
.pic img {
  width: 250px;
  margin: 15px 10%;
}
.rounds img {
  width: 56%;
  position: absolute;
  left: 50%;
  margin-top: 6%;
  margin-left: -28%;
  }
  .roundsSecond img{
    width: 80%;
    position: absolute;
    left: 50%;
    margin-left: -40%;
    z-index: -2;
  }
  .dot{
  display: flex;
  justify-content: center;
  }
  .containerNew{
  display: flex;
  justify-content: center;
  margin: 0 2%;
  }
  .containerNew2{
    display: flex;
    justify-content: center;
    margin: 0 2%;
    }
  .containerSix, .containerSeven{
    margin: 0 5%;
  }
  .containerSeven{
    padding-bottom: 30px;
  }
  .containerThird{
  display: block;
  margin: 0 10%;
  }
.containerFourth{
  display: block;
  margin: 140px 5%;
  padding: 25px 0;
  z-index: -2;
}
.bgcolor1{
  background: #EEEEEE;
}
/*.bgcolor2{
  background: #e8e8e8;
}*/
.containerButton{
display: flex;
justify-content: center;
padding-bottom: 60px;
}
.item{
  margin: 0 10px;
}
.item:nth-child(2){
  margin: 0 4%;
}
.item:last-child{
  margin-top: 8%;
}
.item:first-child {
  margin-top: 4%;
}
.bigPhoto img{
  max-height: 700px
}
.smallPhoto{
  z-index: 2;
}
.textLeft{
  z-index: 2;
}
.textLeft{
  width: 30%;
}
.title{
  font-size: 32px;
  font-weight: bold;
  color: #303030;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}
.title_group{
  font-size: 23px;
  font-weight: 400;
  color: #303030;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}
.usual_text{
  font-size: 17px;
  color:#000;
  margin-bottom: 20px;
  line-height: 35px;
  font-family: 'Open Sans', sans-serif;
}
.footerNew{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.title_table{
  font-size: 22px;
  color: #303030;
  line-height: 80px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.backgroundGrey{
  background: #e8e8e8;
  width: 100%;
  height: 45%;
  position: absolute;
  left: 50%;
  margin-left: -50%;
  z-index: -4;
}
th {
  margin-right: 30px;
}
.center{
  position: relative;
  display: flex;
  justify-content: center;
}
ul, li {
 margin-left: 0;
 padding-left: 0;
}
button{
  border: none;
  border-radius: 30px!important;
  padding: 10px 20px;
  color: #fff;
  background: #C22929;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
button, 
button:active, 
button:focus {
  outline: none;
}
input{
  margin-right: 20px!important;
  max-width: 300px;
  width: 100%;
}
input::placeholder{
  padding: 0 20px;
}
input, .borderBtn{
  border: 2px solid #C22929!important;
  border-radius: 50px;
  background: transparent!important;
  color: #303030!important;
}
.containerSecond{
  margin: 250px 0;
}
.textCenter{
  text-align: center;
  font-size: 25px;
  padding-top:40px;
  margin-bottom: 40px;
}
.textCenter ul{
  list-style: none;
}
.forMob{
  display: none;
}
@media(max-width: 1200px){
  .textLess{
    font-size: 18px!important;
    line-height: 35px;
  }
  .bigPhoto img{
    max-height: 500px;
  }
  .title{
    font-size: 25px;
    margin-bottom: 10px;
  }
  .title_group{
    font-size: 22px;
    margin-bottom: 15px;
  }
  .usual_text{
    font-size: 16px;
    line-height: 25px;
  }
  .pic{
    width:20%;
  }
  .pic img {
    width: 200px;
    margin: 15px 10%;
  }
  .rounds img {
    width: 50%;
    position: absolute;
    left: 50%;
    margin-top: 4%;
    margin-left: -25%;
  }
  .textLeft{
    width: 20%;
  }
  .item:nth-child(2) {
    margin: 0 4%;
  }
  .containerSecond{
    margin: 200px 0;
  }
  .containerFourth{
    margin: 90px 5%;
  }
  .title_table{
    font-size: 17px;
    line-height: 60px;
  }
  .backgroundGrey{
    height: 40%;
  }
}
@media(max-width: 870px){
  .forDeck{
    display: none!important;
  }
  .forMob{
    display: flex!important;
  }
  .rounds img {
    width: 100%;
    position: absolute;
    left: 50%;
    margin-top: 4%;
    margin-left: -50%;
}
  .textLeft {
    width: 80%;
    margin: 0 2%!important;
    text-align: center;
    margin-top: 5%!important;
}
.textLeft ul {
  list-style: none;
}
input{
  margin-bottom: 20px;
  margin-right: 0!important;
  max-width: 600px;
  width: 100%;
}
.button{
  max-width: 600px;
  width: 100%;
}
}
